{% import 'macro_cat.twig' as cat %}

<div class="partners">
    <h2 class="h1 size-type center">Романтические букеты</h2>
    {{ cat.create(1) }}
</div>

<div class="partners">
    <h2 class="h1 size-type center">Поздравительные букеты</h2>
    {{ cat.create(2) }}
</div>

<div class="partners">
    <h2 class="h1 size-type center">Бизнес букеты</h2>
    {{ cat.create(3) }}
</div>

<div class="partners">
    <h2 class="h1 size-type center">Декор интерьеров</h2>
    {{ cat.create(4) }}
</div>

<div class="partners">
    <h2 class="h1 size-type center">Подарки</h2>
    {{ cat.create(5) }}
</div>